/*=======================================*/
/*768px*/
/*=======================================*/

@media (max-width: 48em) {
  html {
    /* font-size: 8px */
    font-size: 50%;
  }

  .ping-img-box {
    width: 60%;
  }

  .ping-info-box{
    width: 70%;
  }
}

/*=======================================*/
/*450px*/
/*=======================================*/
@media (max-width: 29em) {
  html {
    /* font-size: 7px */
    font-size: 44%;
  }

  .ping-img-box {
    width: 90%;
  }

  .ping-info-box{
    width: 80%;
  }
}

/*=======================================*/
/*375px*/
/*=======================================*/
@media (max-width: 24em){
    html{
        /* font-size: 6px */
        font-size: 38%;
    }

    .ping-form-box{
        flex-direction: column;
    }

    .ping-logo{
        width: 15%;
    }
}