@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,600;1,700&display=swap');

:root{
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5rem;
}

/*===== LOGO =======*/
main .ping-logo{
    cursor: pointer;
    margin: 1rem;
}

/*======= TEXT =======*/
main section.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

main section.info h1{
    font-size: 3vw;
    font-weight: 300;
    color: var(--gray);
}

main section.info h1 span{
    font-weight: 600;
    color: var(--very-dark-blue);
}

main section.info p{
    font-size: 1.3vw;
    font-weight: 400;
    padding-bottom: 1.5rem;
    color: var(--very-dark-blue);
}

/*======= FORM =======*/
main section.ping-form{
    padding-bottom: 2rem;
}

main section.ping-form form{
    display: flex;
    gap: .5rem;
}

main section.ping-form form input[type="email"]{
    width: 20rem;
    padding: .8rem;
    border-radius: 30px;
    outline: none;
    border: var(--pale-blue) 2px solid;
}

main section.ping-form form input[type="email"]::placeholder{
    color: var(--pale-blue);
}

main section.ping-form form input[type="email"]:focus{
    border-color: var(--light-red);
}

main section.ping-form form input[type="submit"]{
    width: 10rem;
    padding: .8rem;
    border-radius: 30px;
    background-color: var(--blue);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 10px var(--pale-blue);
    transition: all ease-in-out .3s;
}
main section.ping-form form input[type="submit"]:hover{
    background-color: var(--pale-blue);
}

/*====== IMAGE =======*/
.image-container{
    max-width: 40%;
}

.image-container img{
    max-width: 100%;
}

/*====== SOCIAL MEDIA ICONS =======*/

main .social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    gap: 1rem;
    
}

main .social-media .fab{
    padding: .5rem;
    border: 1px var(--pale-blue) solid;
    border-radius: 50%;
    color: var(--blue);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

main .social-media .fab:hover{
    background-color: var(--blue);
    color: white;
}

/*====== FOOTER ======*/
footer{
    font-size: .8rem;
    color: var(--gray);
}

